[Unit]
Description=twitch-api-v3-proxy
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/opt/twitch-api-v3-proxy
ExecStart=/opt/twitch-api-v3-proxy/bin/twitch-api-v3-proxy
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
